nav {
    background-color: #444444;
    height: 10vh;
    padding: 0 20rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.75);

    h1 {
        color: rgb(94, 0, 0);
        font-weight: bold;
    }

    ul {
        list-style-type: none;
        display: flex;
        align-items: center;
        gap: 5rem;

        a {
            color: white;
            text-decoration: none;
            font-size: 1.5rem;
        }
    }
}
