.film-title {
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 1.5rem;
}

.movies-container {
    max-height: 70vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;

    .movie-card {
        background-color: rgba(37, 23, 70, 0.8);
        color: white;
        flex: 0 0 calc((100% - 4 * 1rem) / 5);
        gap: 1rem;
        padding: 1rem;
        border: 1px solid black;
        border-radius: 1rem;
        margin-bottom: 1rem;
        display: flex;
        flex-direction: column;
        align-content: stretch;

        .movie-info {
            margin: 0;
        }

        .block-el {
            display: block;
        }

        .info-label {
            color: rgb(218, 165, 32);
            font-style: italic;
        }

        .info-value {
            font-size: 1.1rem;
        }
    }
}
